{
	debug
}

localhost:2015

root * build

rewrite / /about.html

handle /_internal/health {
	respond 200
}

encode {
	gzip
	zstd
}

@images {
	path *.png *.avif
}
header @images {
	// 1 year
	Cache-Control "public, max-age=31536000, immutable"
}

@assets {
	path *.js *.css
}
header @assets {
	// 1 year
	Cache-Control "public, max-age=31536000, immutable"
}

uri strip_suffix /
try_files {path}.html
file_server {
	browse
}
